<div id="about-me-link">
    <div id="about-me" class="container">
        <h1 id="about-me-title">Who am I?</h1>
        <div class="row">
            <div class="col-md-8">
                <p>Real world applications should be intuitive, clean, fun to use and provide value
                    to everyday users. That's what I strive for in every project I develop. I enjoy learning
                new technologies and experimenting with the cutting-edge.</p>
                <p id="skills">I specialize in full-stack javascript applications leveraging
                    AngularJS 2.X, NodeJS and ExpressJS.</p>
                <a id="talk-link" class="btn btn-primary" [routerLink]="['/contact']">Let's talk!</a>
            </div>
            <div class="col-md-4">
                <img id="me" src="http://res.cloudinary.com/dz9rf4hwz/image/upload/v1468707722/IMG_20151006_123225_3_ifvhtj.jpg">
            </div>
        </div>
    </div>
    <div class="container">
        <img class="img-responsive" id="me-big" src="http://res.cloudinary.com/dz9rf4hwz/image/upload/v1468707725/webpic1_2_mqkkmk.jpg">
    </div>
</div>