@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch";

/**** Nav ****/
@media (min-width: 1400px) {
  #nav {
    padding-left: 15%;
    padding-right: 15%;
  }
}

/**** Home Position ****/
#home-link {
  width: 100%;
  height: 100vh;
  min-height: 650px;
}

#logo {
  width: 45px;
  height: 45px;
  display: inline-block;
  position: relative;
  bottom: 12px;
  left: 5px;
}

#gbs {
  position: relative;
  bottom: 6px;
  left: 5px;
}

#title-body {
  margin-top: 15%;
  text-align: center;
  h1, h3 {
    margin: 0;
    color: black;
  }

  h1 {
    font-size: 60px;
  }

  h3 {
    font-weight: 100;
    font-size: 25px;
    padding-top: 40px;
  }
}

#title-text a {
  color: $white-light;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  line-height: 110px;
}

#title-text a:hover, .title-text a:visited, .title-text a:active {
    color: white;
    text-decoration: none;
}

#bg {
  background: url('http://res.cloudinary.com/dz9rf4hwz/image/upload/v1468707880/woVRMu1_btq6hj.jpg');
	background-size: cover;
  background-attachment: fixed;
	-webkit-filter: brightness(65%);
	filter: brightness(65%);
	position: absolute;
	width: 100%;
  height: 100vh;
	min-height: 650px;
	top: 0;
  left: 0;
	z-index: -1;
}

.fa-angle-double-down {
  width: 60px;
  display: block;
  text-align: center;
  color: white;
  font-size: 60px;
  line-height: 60px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.bounce a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.bounce {
  position: absolute;
  bottom: 10px;
  left: 50% ;
  width: 60px;
  height: 60px ;
  margin-left: -30px;
  animation: bounce 3s infinite;
}
 
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

/**** Portfolio Position ****/
#portfolio-link {
  float: left;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  color: #2B252C;
}

.portfolio {
    min-height: 100%;
}

#glow-link {
  font-size: 36px;
  margin-top: 8%;
}

#me-link, #me-link:active {
  color: $brand-primary;
  text-decoration: none;
  transition: 0.5s;
}

#me-link:hover {
  color: #2B252C;
  text-decoration: none;
}

#glow-link > .glow {
  transition: all 0.5s;
}

#glow-link:hover > .glow {
  color: $brand-primary;
}

#portfolio-link #subtitle {
  font-size: 20px;
  padding: 20px 0px 20px 0px;
}

#top-row {
  padding-bottom: 15px;
}

/**** About Me Position ****/
#about-me-link {
  float: left;
  width: 100%;
  padding-top: 1%;
  min-height: 1000px;
}

#about-me {
  min-width: 50%;
  color: #2B252C;
  font-size: 16px;
}

#about-me-title {
  text-align: center;
  font-size: 50px;
  padding-bottom: 20px;
}

#about-me #me {
  display: flex;
  justify-content: center;
  width: 300px;
  border-radius: 50%;
  padding: 2px;
  margin: 0 auto;
}

#about-me span {
  display: block;
  background: $brand-primary;
  border-radius: 18px;
  height: 45px;
  width: 120px;
  transition: 0.5s;
  margin-bottom: 10px;
}

#about-me span:hover {
  background: $brand-primary;
}

#talk-link {
  margin: 0 auto;
  display: block;
  width: 100px;
}

#skills {
  padding-top: 30px;
}

#me-big {
  margin-top: 4%;
  border-radius: 10px;
  margin-bottom: 20px;
}

/**** Contact Position ****/
#contact-link {
  position: relative;
  float: left;
  text-align: center;
  background-color: $brand-dark-bg;
  width: 100%;
  padding-top: 1.5%;
}

#contact-text {
  text-align: center;
  color: white;
}

#contact-link p {
  text-align: center;
  margin-top: 3%;
  color: lighten($brand-dark-bg, 35%);
}

#contact-icons {
  display: inline-flex;
  background-color: lighten($brand-dark-bg, 3%);
  border-radius: 50px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 3%;
  a {
    color: white;
    margin: 0 20px 0 20px;
    transition: 0.5s;
    &:hover {
      color: $brand-light !important;
    }
  }
}

#back-top {
  position: absolute;
  right: 35px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 2px 3px 3px 0px hsla(0, 0%, 16%, 0.3);
  .fa-chevron-up {
    font-size: 25px;
    position: relative;
    line-height: 32px;
    right: 3px;
  }
}