<div id="portfolio-link">
    <div class="container portfolio">
        <h1 id="glow-link"><span class="glow">Hi, I'm </span><a id="me-link" href="#about-me-link">Danny</a>
            <span class="glow">, a full stack javascript web developer.</span></h1>
        <p id="subtitle">I enjoy making useful and intuitive web applications with an emphasis on speed. <br>
            Here is some of my recent work: </p>
        <div class="row" id="top-row">
            <div class="col-md-4">
                <a href="#" class="thumbnail">
                    <img src="http://i.imgur.com/GpamtF4.png" alt="project1" id="project1">
                    <div class="caption">
                        <h4 class="text-center">Project 1</h4>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail">
                    <img src="http://i.imgur.com/GpamtF4.png" alt="project1" id="project1">
                    <div class="caption">
                        <h4 class="text-center">Project 2</h4>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail">
                    <img src="http://i.imgur.com/GpamtF4.png" alt="project1" id="project1">
                    <div class="caption">
                        <h4 class="text-center">Project 3</h4>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                    </div>
                </a>
            </div>
        </div>
            <div class="row" id="bottom-row">
                <div class="col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="http://i.imgur.com/GpamtF4.png" alt="project1" id="project1">
                        <div class="caption">
                            <h4 class="text-center">Project 4</h4>
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="http://i.imgur.com/GpamtF4.png" alt="project1" id="project1">
                        <div class="caption">
                            <h4 class="text-center">Project 5</h4>
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                        </div>
                    </a>
                </div>
                        <div class="col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="http://i.imgur.com/GpamtF4.png" alt="project1" id="project1">
                        <div class="caption">
                            <h4 class="text-center">Project 6</h4>
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                        </div>
                    </a>
                </div>
            </div>
    </div>
</div>