<div id="portfolio-link" [class.page-transition]="transitionService.isTransitioning()">
    <div class="container portfolio">
        <h2 id="subtitle">Recent Work</h2><div class="divider"></div>
        <div class="project-row">
            <div class="card">
                <a href="#">
                    <img src="http://i.imgur.com/GpamtF4.png" alt="project1" id="project1">
                    <div class="caption">
                        <h4 class="text-center">Project 1</h4>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img src="http://i.imgur.com/GpamtF4.png" alt="project1" id="project1">
                    <div class="caption">
                        <h4 class="text-center">Project 2</h4>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img src="http://i.imgur.com/GpamtF4.png" alt="project1" id="project1">
                    <div class="caption">
                        <h4 class="text-center">Project 3</h4>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="project-row">
            <div class="card">
                <a href="#">
                    <img src="http://i.imgur.com/GpamtF4.png" alt="project1" id="project1">
                    <div class="caption">
                        <h4 class="text-center">Project 4</h4>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img src="http://i.imgur.com/GpamtF4.png" alt="project1" id="project1">
                    <div class="caption">
                        <h4 class="text-center">Project 5</h4>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img src="http://i.imgur.com/GpamtF4.png" alt="project1" id="project1">
                    <div class="caption">
                        <h4 class="text-center">Project 6</h4>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>