@import './shared/common-styles';

.page-wrapper {
  font-family: 'Roboto';
}

#me {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 2px 9px 18px -5px hsla(0, 0%, 0%, 0.75);
}