@import './shared/common-styles';

.page-wrapper {
  font-family: 'Roboto';
}

#logo {
  width: 45px;
  height: 45px;
  display: inline-block;
  position: relative;
  bottom: 12px;
  left: 5px;
}