<div id="cassie" [class.page-transition]="transitionService.isTransitioning()">
  <div class="container">
    <h1 class="text-center">Cassie</h1>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <img src="http://res.cloudinary.com/dz9rf4hwz/image/upload/v1471449299/FB_IMG_1470266490385_p5zhdr.jpg" class="img-responsive">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <img src="http://res.cloudinary.com/dz9rf4hwz/image/upload/v1471449299/FB_IMG_1470266619808_ojm58k.jpg" class="img-responsive">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <img src="http://res.cloudinary.com/dz9rf4hwz/image/upload/v1471449299/Cassie_s_Face_g7tfda.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>