@import '../shared/common-styles';

#home {
  width: 100%;
  height: 100vh;
  min-height: 650px;
  margin-top: -87px;
  z-index: -1;
}

#title-body {
  margin: 0 auto;
  padding-top: 15%;
  text-align: center;
  width: 37%;
  min-width: 350px;

  h1, h3 {
    margin: 0;
    color: $white-light;
  }

  h1 {
    font-size: 60px;
  }

  h3 {
    font-weight: 100;
    font-size: 25px;
    padding-top: 40px;
    line-height: 40px
  }
}

.divider {
    height: 3px;
    width: 40%;
    margin: 0 auto;
    margin-top: 40px;
    background-color: $white-light;
  }

#link-wrap {
  position: absolute;
  bottom: 40px;
  text-align: center;
  width: 100%;
}

#gbs {
  position: relative;
  bottom: 6px;
  left: 5px;
}

#bg {
  background: url('http://res.cloudinary.com/dz9rf4hwz/image/upload/v1468707880/woVRMu1_btq6hj.jpg');
	background-size: cover;
  background-attachment: fixed;
	-webkit-filter: brightness(65%);
	filter: brightness(65%);
	position: absolute;
	width: 100%;
  height: 100vh;
	min-height: 650px;
	top: 0;
  left: 0;
	z-index: -1;
}